<div class="photo-grid">
    <div class="row">
      <div class="col-md-4" id="photo-item"  *ngFor="let photo of photos" >
        <img [src]="photo" class="img-fluid clickable-image" (click)="openOverlay(photo)">
        <div class="overlay" *ngIf="selectedImage === photo">
            <span class="close-button" (click)="closeOverlay()">&times;</span>
            <img [src]="photo" alt="Enlarged Photo" title="Enlarged Photo" class="enlarged-photo">
          </div>
      </div>
    </div>
</div>

  