#title{
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

h1{
    margin-right: 10px;
    color: rgb(150, 123, 182)
}

.navbar {
  display: flex;
  justify-content: center;
}
  
.navbar-brand {
  margin: 0 auto;
}

button{
  border: none;
  background-color: black
}

mat-icon{
  margin: 15px 15px 15px 15px;
  transform: scale(1.5);
  color: rgb(150, 123, 182)
}

p{
  color: rgb(150, 123, 182)
}
  
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: rgb(150, 123, 182)
} 

a{
  font-size: 25px;
}

.nav-item{
  margin: 15px 15px 15px 15px;
}

a.white-color {
  color: rgb(150, 123, 182);
  text-decoration: none;
}

#navbarSupportedContent{
  margin-left: 50px;
  justify-items: center;

}

